@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Special Elite', cursive;
}


.divInputs{
   display: flex;
   flex-direction: column;
   width: 50%;
   height: 50vh;
   background-color: khaki;
   margin: auto;
   margin-top: 15vh;
   align-items: center;
   justify-content: center;


}
#divResult
{
    background-color:blueviolet;
    color: white;
    height: 20vh;
    width: 50%;
    margin: auto;  
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
